:root {
    --orange: #c01d21;
    --blue: #31515F;
    --light-blue: #7ebfcf;
    --white: #FCFAEF;
    --dark-brown: #352D27;
    --light-brown: #463E39;
    background: var(--white);
    font-family: 'Josefin Sans', sans-serif;
}
a{
    color: white;
}
#container {
    display: flex;
    
}

#unit-selector {
    flex-grow: 1;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#unit-shower {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 1.5vw;
}

#unit-games {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    flex-grow: 5;
    margin-left: -40vw;
    /* margin-left: 3vw;
    margin-right: 15vw; */
}

#unit-notes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    flex-grow: 5;
    margin-left: -40vw;
    /* margin-left: 3vw;
    margin-right: 15vw; */
}

#selector-header {
    width: initial;
    margin-left: 6.5vw;
    margin-right: auto;
    box-shadow: none !important;
    border: 2px solid #c09065;
    height: 1vh; 
}

.btn-format {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.unit-selector-template {
    color: var(--white);
    text-shadow: -1px 1px 0 #c09065,
    1px 1px 0 #c09065,
   1px -1px 0 #c09065,
  -1px -1px 0 #c09065;
    position:absolute;
    left: 5vw;
    top: calc(15vh + 1vw);
    width: 15vw;
    margin: 0.5vw;
    background-color: var(--orange);
    padding: 1vw;
    border-radius: 50px;
    box-shadow: 4px 4px #888888;
    margin-top: 0;
    margin-right: 0;
    transition: left 0.1s ease-out, top 0.1s ease-out, box-shadow 0.1s ease-out;
    height: 2vh;
}

.unit-selector-template.selected-unit-btn {
    left: 7.5vw;
    background-color: var(--blue);
    border-radius: 50px 0 0 50px;
    box-shadow: none;
    color: white;
    /* text-shadow: -1px 1px 0 var(--orange),
    1px 1px 0 var(--orange),
   1px -1px 0 var(--orange),
  -1px -1px 0 var(--orange); */
  text-shadow: none;
}
.unit-selector-template p {
    margin-top: 0.2vw;
}
.unit-selector-template.selected-unit-btn::after {
    content: '';
    position: absolute;
    display: inline-block;
    height: calc(2vh + 2vw);
    width: calc(2vh + 2vw);
    background-color: var(--blue);
    right: calc(-1 * (2vh + 2vw - 2px) / 2);
    top: 0vh;
    transform: rotate(45deg);
    border-radius: 50% 0px 50% 20px; /*top right bottom left*/
}

btn.unit-selector-template:active {
    box-shadow: 0px 0px #0000;
    /* top: calc(15vh + 1vw + 4px); */
    left: calc(5vw + 4px);
    transition: left 0.1s ease-out, top 0.1s ease-out, box-shadow 0.1s ease-out;
}

.unit-notes-template {
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3vw;
    color: var(--white);
    border-radius: 25px;
    box-shadow: 5px 5px #888888;
    width: 25vw;
}
.unit-notes-data-image {
    width: 10vw;
    height: 5vw;
    object-fit: none;
    margin-bottom: 0.3vw;
    margin-left: 1vw;
    margin-right: 1vw;
    border-radius: 10px;
}

.unit-notes-data-link {
    width: 20vw;
    margin-bottom: 1vw;
    overflow-wrap: break-word;
    /* margin-left: -12vw; */
}

#image-magnifier {
    width: 30vw;
    height: initial;
    position: fixed;
    left: 50vw;
    top: 50vh;
    margin-left: -65vw !important;
    /* margin-left: -33vw !important; */
    object-fit: fill;
    background-color: #000000cc;
    padding: 50vw;
    z-index: 999;
}

.firebaseui-auth-container {
    position: relative;
    left: -40;
}

#add-btn {
    position: absolute;
    left: 64.25vw;
    top: 6vw;
    border-radius: 30px 30px 30px 30px;
    border: 3px solid #000;
    background-color: var(--orange);
    width: 7vw;
    height: 2.3vw;
    transition: left 0.3s ease, top 0.3s ease, width 0.3s ease, height 0.3s ease, filter 0.3s ease;
}

#add-btn.disabled {
    background-color: #6e6565;
    opacity: 25%;
}
#add-btn.disabled::after{
    content: "You can't post anything as we are not close enough to a test";
    display: inline-block;
    position: absolute;
    right: -9vw;
    top: -0.5em;
    width: 8vw;
    color: black;
    opacity: 400%;
}

@media screen and (min-width: 541px) {
    #add-btn:hover:not(.disabled) {
        filter:brightness(0.9);
        transition: all 0.3s ease;
        width: 8vw;
        left: 63.75vw;
    }
}
#add-btn p {
    margin: auto 0;
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    z-index: -10;
}

.dialog-close {
    position: absolute;
    right: 10px;
    top: 10px;
    transform: scale(0.79);
    transition: filter 0.13s ease, transform 0.13s ease;
}
.dialog-close:hover {
    transition: all 0.1s ease;
    transform: scale(0.89);
    filter: brightness(1.05);
}

#add-dialog {
    position: fixed;
    top: 50vh;
    left: 50vw;
    width: 30vw;
    min-height: 10vw;
    margin-left: -15.5vw;
    margin-top: -12vw;
    background-color: var(--blue);
    border-radius: 2vw;
    padding: 1vw;
}

#add-dialog.hidden {
    display: initial !important;
    opacity: 0;
    left: -100vw;
    transition: left 0.15s cubic-bezier(.93,.08,1,.08);
}

#add-dialog *:focus {
    outline: none
}

#add-dialog p {
    margin: 1vw 0 0 2vw;
    color: var(--white);
    text-shadow: -1px 1px 0 #c09065,
    1px 1px 0 #c09065,
   1px -1px 0 #c09065,
  -1px -1px 0 #c09065;
  font-size: 1.3em;
}

#image-holder {
    margin-top: 1.2vw;
    margin-left: 3vw;
    margin-bottom: 4vw;
}

#add-dialog select {
    width: 5vw;
    margin-left: 2vw;
    margin-bottom: 0.5vw;
    margin-bottom: 0;
    border-radius: 10px 10px 0 0 ;
}

#add-dialog textarea {
    margin-top: 0.6vw;
    width: 25vw;
    margin-left: 2vw;
    border-radius: 1vw;
    border: 3px solid #000;
    resize: horizontal;
    word-wrap: none;
    white-space: nowrap;
    overflow-x: hidden;
}

#add-note-type {
    border-radius: 0 !important;
}

#add-submit {
    position: absolute;
    width: 4vw;
    height: 2vw;
    left: 50%;
    bottom: 0.4vw;
    margin-left: -2vw;
    border-radius: 3vw;
    background-color:  var(--orange);
    font-weight: 600;
    transition: margin-left 0.3s ease, width 0.3s ease, height 0.3s ease, filter 0.3s ease;
    color: white;
}

#add-submit:hover {
    filter: brightness(0.8);
    transition: all 0.3s ease;
    width: 4.3vw;
    height: 2.1vw;
    margin-left: -2.15vw;
}

.unit-shower-btn {
    position: absolute;
    width: 4vw;
    height: 2vw;
    left: 50%;
    top: 2.1vw;
    margin-left: -2vw;
    border-radius: 3vw;
    background-color:  var(--blue);
    font-weight: 600;
    transition: background-color 0.3s ease, margin-left 0.3s ease, width 0.3s ease, height 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease;
    color: white;
    box-shadow: 2px 4px #888888;
}

.unit-shower-btn:not(.selected):hover {
    filter: brightness(0.9);
    transition: all 0.3s ease;
    width: 4.3vw;
    height: 2.1vw;
}

#unit-shower-notesbtn {
    margin-left: -10vw;
}

#unit-shower-notesbtn:not(.selected):hover {
    margin-left: -10.15vw;
}

#unit-shower-gamesbtn {
    margin-left: 5vw;
}

#unit-shower-gamesbtn:not(.selected):hover {
    margin-left: 4.85vw;
}

.selected {
    background-color: #353030;
    color: #aaa;
    box-shadow: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    /* filter: saturate(0.1) brightness(0.8) contrast(0.45); */
    /* filter: brightness(1.7) saturate(0.1) contrast(0.5); */
}

.notes-image-holder {
    position: relative;
    width: 10vw;
    display: inline-block;
    margin-right: 2vw;
}

.notes-image-delete {
    position: absolute;
    right: -8%;
    top: 3%;
    width: 2vw;
    height: 1.3vw;
    border-radius: 1vw; 
    background-color: var(--orange);
    transition: filter 0.2s ease;
}

.notes-image-delete:hover {
    filter: brightness(0.8);
    transition: filter 0.2s ease;
}

.notes-image-delete * {
    width: 0.9vw;
    height: 0.9vw;
    /* margin-left: -0.2vw; */
}

#note-image-input {
    color: white;
    border-color: white !important;
}

::-webkit-file-upload-button {
    padding: 0.1vw 1em;
    color: white;
    background: var(--light-blue);
    border-radius: 1vw 0 0 1vw;
    border: none;
    border-right: 2px solid white;
  }

  #extra-info {
    position: absolute;
    right: 4vw;
    bottom: 15vh;
    color: #000;
    border: 3px solid var(--orange);
    padding: 3vh 2vw;
    border-radius: 10px;
    width: 14.5vw;
  }

  #extra-info * {
    display: block;
    color: #000;
    font-size: 1.45em;
  }

  #extra-info *:hover {
    color: #888;
  }

  #please-post-notice {
    position: absolute;
    right: 4vw;
    top: 5.75vw;
    color: #000;
    border: 3px solid var(--orange);
    padding: 0vh 2vw;
    border-radius: 10px;
    width: 14.5vw;
  }

  #please-post-notice * {
    display: block;
    color: #000;
    font-size: 0.85em;
  }

  #reminder-arrow {
    position: absolute;
    top: 6.2vw;
    right: 24vw;
    width: 4vw;
    height: 2.3vw;
    transform:scaleX(-1);
  }

  #email-notice {
    position: absolute;
    right: 4vw;
    bottom: 42.5vh;
    color: #000;
    border: 3px solid var(--orange);
    padding: 0vh 2vw;
    border-radius: 10px;
    width: 14.5vw;
  }

  #email-notice * {
    display: block;
    color: #000;
    font-size: 1em;
  }

  #email-notice a:hover {
    color: #888;
  }

  #test-dates {
    position: absolute;
    right: 4vw;
    bottom: 60vh;
    color: #000;
    border: 3px solid var(--orange);
    padding: 0vh 2vw;
    border-radius: 10px;
    width: 14.5vw;
    font-size: 1.1em;
  }
  #test-dates * {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
  }

  @media screen and (max-width: 540px) {
    #extra-info {
        display: hidden;
    }
    #please-post-notice {
        display: hidden;
    }
    #reminder-arrow {
        display: hidden;
    }
    #email-notice {
        display: hidden;
    }
    #test-dates {
        display: hidden;
    }
    .unit-selector-template {
        font-size: 0.9em;
        width: 22vw;
        left: 2vw;
        padding-left: 4vw; 
        padding-right: 4vw; 
        height: 4vh;
        /* border-radius: ; */
        transition: background 0.3s ease, left 0.3s linear top 0.3s linear;;
    }
    .unit-selector-template.selected-unit-btn.ignoredMargin-top {
        transition: background 0.3s ease, margin-top 0.3s ease, left 0.3s ease, top 0.3s ease;
        margin-top: 3vh !important;
    }
    .unit-selector-template.selected-unit-btn {
        top: -2vh !important; 
        left: 55vw !important;
        background-color: #6e6565;
        border-radius: 50px 50px 50px 50px;
        box-shadow: none;
        /* color: black; */
        text-shadow: none;
    }
    .unit-selector-template p {
        margin-top: 0.2vw;
    }
    .unit-selector-template.selected-unit-btn::after {
        content: '';
        width: 0;
        height: 0;
    }
    
    btn.unit-selector-template:active {
        color: var(--white);
        text-shadow: -1px 1px 0 #c09065,
        1px 1px 0 #c09065,
       1px -1px 0 #c09065,
      -1px -1px 0 #c09065;
        position:absolute;
        top: calc(15vh + 1vw);
        left: 2vw;
        margin: 0.5vw;
        background-color: var(--orange);
        border-radius: 50px;
        box-shadow: 4px 4px #888888;
        margin-top: 0;
        margin-right: 0;
        transition: left 0.1s ease-out, top 0.1s ease-out, box-shadow 0.1s ease-out;
    }

    #unit-shower {
        margin-top: 5vh;
    }
    .unit-notes-template {
        /* background-color: var(--blue);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 3vw;
        color: var(--white);
        border-radius: 25px;
        box-shadow: 5px 5px #888888; */
        width: 60vw;
        margin-left: 62.5vw;
        margin-right: 0;
    }

    .unit-notes-data-link {
        width: 55vw;
        margin-bottom: 3vw;
        overflow-wrap: break-word;
        /* margin-left: -12vw; */
    }

    .unit-shower-btn {
        width: 15vw;
        height: 7.5vw;
    }

    #unit-shower-notesbtn {
        margin-left: -44vw;
        margin-top: 5vw;
    }
    #unit-shower-gamesbtn {
        margin-left: -44vw;
        margin-top: 15vw;
    }

    #add-btn {
        position: absolute;
        left: 30vw;
        top: 6vw;
        border-radius: 30px 30px 30px 30px;
        border: 3px solid #000;
        background-color: var(--orange);
        width: 18vw;
        height: 7vw;
        transition: left 0.3s ease, top 0.3s ease, width 0.3s ease, height 0.3s ease, filter 0.3s ease;
    }
    
    #add-btn.disabled {
        background-color: #d8d4cc !important;
        border-color: #bcbdb4 !important;
        color: #fcfbf3 !important;
        opacity: 100%;
    }
    #add-btn.disabled::after{
        width: 0;
        height: 0;
        content: ''
    }
    
    #add-btn:active:not(.disabled) {
        filter: brightness(0.8)
    }

    #add-btn.disabled:hover {
        filter: unset;
        width: 18vw;
        left: 30vw;
        height: 7vw;
    }

    #add-btn.disabled:hover::after {
        content: "You can't post anything as we are not close enough to a test";
        display: inline-block;
        position: absolute;
        right: -10vw;
        top: 3em;
        width: 30vw;
        padding: 3px 10px 0 10px;
        color: #fcfbf3;
        background-color: #d8d4cc;
        border: 3px solid #bcbdb4;
        height: 5em;
        opacity: 1;
    }
    
    #add-btn.disabled:hover::before {
        content: "";
        display: inline-block;
        position: absolute;
        right: 6.5vw;
        top: 2.5em;
        color: #fcfbf3;
        background-color: #d8d4cc;

        z-index: 100;
        border: 2px solid #bcbdb4;
        border-right: 0;
        border-bottom: 0;
        width: 3vw;
        height: 3vw;
        transform: rotate(45deg);
        opacity: 1;
    }

    #add-btn p {
        margin: auto 0;
        font-size: 1.25em;
        font-weight: 700;
        color: white;
        z-index: -10;
        margin-left: 0.8vh;
    }
    
    #add-btn * {
        width: 70%;
        height: 70%;
    }

    #add-dialog {
        /* position: fixed;
        top: 50vh;
        left: 50vw;
        width: 30vw;
        min-height: 10vw;
        margin-left: -15.5vw;
        margin-top: -12vw;
        background-color: var(--blue);
        border-radius: 2vw;
        padding: 1vw; */
        width: 70vw;
        margin-left: -35vw;
        min-height: 120vw;
        margin-top: -60vw;
    }

    #add-dialog select {
        width: 25vw;
        /* margin-left: 2vw;
        margin-bottom: 0.5vw;
        margin-bottom: 0;
        border-radius: 10px 10px 0 0 ; */
    }
    
    #add-dialog textarea {
        /* margin-top: 0.6vw;
        width: 25vw;
        margin-left: 2vw;
        border-radius: 1vw;
        border: 3px solid #000; */
        width: 60vw;
        height: 50vh;
    }

    #add-submit {
        /* position: absolute;
        width: 4vw;
        height: 2vw;
        left: 50%;
        bottom: 0.4vw;
        margin-left: -2vw;
        border-radius: 3vw;
        background-color:  var(--light-blue);
        font-weight: 600;
        transition: margin-left 0.3s ease, width 0.3s ease, height 0.3s ease, filter 0.3s ease; */
        width: 20vw;
        margin-left: -10vw;
        height: 10vw;
        bottom: 2vw;
    }
    
    #add-submit:hover {
        /* filter: brightness(0.8);
        transition: all 0.3s ease;
        width: 4.3vw;
        height: 2.1vw;
        margin-left: -2.15vw; */
        filter: none;
        margin-left: -10.15vw;
        width: 20.3vw;
        height: 10.1vw;
    }

    #add-submit:active {
        filter: brightness(0.8);
        /* transition: all 0.3s ease; */
    }
    
    .unit-notes-data-image {
        /* width: 10vw;
        height: 5vw;
        object-fit: none;
        margin-bottom: 0.3vw;
        margin-left: 1vw;
        margin-right: 1vw;
        border-radius: 10px; */
        width: 30vw;
        height: 15vw;
    }
    .notes-image-holder {
        position: relative;
        width: 30vw;
        display: inline-block;
        margin-right: 3vw;
        margin-bottom: 2vw;
    }
    .notes-image-delete {
        /* position: absolute;
        right: -8%;
        top: 3%;
        width: 2vw;
        height: 1.3vw;
        border-radius: 1vw; 
        background-color: var(--orange);
        transition: filter 0.2s ease; */
        width: 10vw;
        height: 6.5vw;
        border-radius: 12vw;
        right: 0;
    }
    
    .notes-image-delete:hover {
        /* filter: brightness(0.8);
        transition: filter 0.2s ease; */
        filter: none;
    }
    
    .notes-image-delete * {
        width: 4vw;
        height: 4vw;
        /* margin-left: -0.2vw; */
    }

    #image-magnifier {
        width: 30vw;
        height: initial;
        position: fixed;
        left: 50vw;
        top: -25vh;
        margin-left: -65vw !important;
        /* margin-left: -33vw !important; */
        object-fit: fill;
        background-color: #000000cc;
        padding: 50vw;
        padding-top: 100vh;
        padding-bottom: 100vh;
        z-index: 999;
    }
    
}
